*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
auroraApp/build
auroraApp/.mb2
auroraApp/documentation.list
auroraApp/RPMS
auroraApp/*.o
auroraApp/com.example.aurorakmp
auroraApp/Makefile
auroraApp/moc_*
auroraApp/*.pro.user
build-com.example.aurorakmp-*
scripts